<form id="alta_usuario" action="{GET}" method="GET">
	<div class="item_requerid">E-mail</div>
	<div class="form_requerid"><input type="text" name="email" id="email"></div>
	<div class="form_button"><input type="submit" id="enviar" value="Buscar"></div>
</form>