<form id="alta_usuario" action="{SET}" method="POST">

	<div class="item_requerid">E-mail</div>
	<div class="form_requerid"><input type="text" name="email" id="email"></div>

	<div class="item_requerid">Clave</div>
	<div class="form_requerid"><input type="password" name="clave" id="clave"></div>

	<div class="item_requerid">Nombre</div>
	<div class="form_requerid"><input type="text" name="nombre"	id="nombre"></div>

	<div class="item_requerid">Apellido</div>
	<div class="form_requerid"><input type="text" name="apellido" id="apellido"></div>

	<div class="form_button"><input type="submit" name="enviar"	id="enviar" value="Agregar"></div>
	
</form>